.wishlist-list-wrap div{
    display: inline;
    float: left;
}
.wishlist-list-wrap.notempty .wishlist-count-empty{
    display: none;
}
.wishlist-list-wrap.notempty .wishlist-count-notempty{
    display: block;
}
.wishlist-list-wrap .wishlist-count-empty{
    display: block;
}
.wishlist-list-wrap .wishlist-count-notempty{
    display: none;
}
